{% extends 'base.html' %}


{% block title %}
Public Chat | Fanasa Chat
{% endblock %}


{% block content %}
    <div class="row mb-5">
        <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            What group would you like to enter?
            <input id="room-name-input" class="form-control mt-3" type="text" size="100"/>
            <input id="room-name-submit" class="btn btn-primary my-2 w-100" type="button" value="Enter"/>
        </div>
    </div>

    <hr>
    
    <div class="mt-5">
        {% if rooms %}
            {% for room in rooms %}
                {{ forloop.counter }}. 
                <a href="/rooms/{{room.name}}/">
                    {{room.name}}
                </a>
                <span class="text-muted small">  (online: {{room.onlines}})</span>
                <br>
            {% endfor %}
        {% else %}
            No Available Group.
        {% endif %}
    </div>
{% endblock %}




{% block extra_script %}
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = 'rooms/' + roomName + '/';
        };
    </script>
{% endblock %}